# Reference Notebook
sample nb.ipynb

# Dataset Files
augmented_train.csv
augmented_train_senti.csv
test.csv
train.csv
WELFake_Dataset.csv
cleaned_test.csv

# Pre-trained Embeddings
glove.6B.100d.txt

glove_features.pkl
glove_pca_features.pkl
tfidf_bow_features.pkl
tfidf_chi2_features.pkl
tfidf_features.pkl
tfidf_features_test.pkl
tfidf_info_gain_features.pkl

# Model Files
lgbm_model.txt
lr_model.pth
rf_model.pkl
models/lgbm_glove_pca_model.txt
models/lgbm_tfidf_bow_model.txt
models/lr_epochs/glove_pca_features_lr_fold1.pth
models/lr_epochs/glove_pca_features_lr_fold2.pth
models/lr_epochs/glove_pca_features_lr_fold3.pth
models/lr_epochs/glove_pca_features_lr_fold4.pth
models/lr_epochs/glove_pca_features_lr_fold5.pth
models/lr_epochs/tfidf_bow_features_lr_fold1.pth
models/lr_epochs/tfidf_bow_features_lr_fold2.pth
models/lr_epochs/tfidf_bow_features_lr_fold3.pth
models/lr_epochs/tfidf_bow_features_lr_fold4.pth
models/lr_epochs/tfidf_bow_features_lr_fold5.pth
models/lr_epochs/tfidf_chi2_features_lr_fold1.pth
models/lr_epochs/tfidf_chi2_features_lr_fold2.pth
models/lr_epochs/tfidf_chi2_features_lr_fold3.pth
models/lr_epochs/tfidf_chi2_features_lr_fold4.pth
models/lr_epochs/tfidf_chi2_features_lr_fold5.pth
models/lr_epochs/tfidf_info_gain_features_lr_fold1.pth
models/lr_epochs/tfidf_info_gain_features_lr_fold2.pth
models/lr_epochs/tfidf_info_gain_features_lr_fold3.pth
models/lr_epochs/tfidf_info_gain_features_lr_fold4.pth
models/lr_epochs/tfidf_info_gain_features_lr_fold5.pth
models/lr_glove_pca_model.pth
models/lr_tfidf_bow_model.pth
models/lr_tfidf_chi2_model.pth
models/lr_tfidf_infogain_model.pth
models/rf_tfidf_bow_model.pkl
models/rf_tfidf_chi2_model.pkl
models/rf_tfidf_infogain_model.pkl
