# Reference Notebook
sample nb.ipynb

# Dataset Files
augmented_train.csv
augmented_train_senti.csv
test.csv
train.csv
WELFake_Dataset.csv
cleaned_test.csv

# Pre-trained Embeddings
glove.6B.100d.txt

glove_features.pkl
glove_pca_features.pkl
tfidf_bow_features.pkl
tfidf_chi2_features.pkl
tfidf_features.pkl
tfidf_features_test.pkl
tfidf_info_gain_features.pkl
